* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
  /* border: 1px solid rgb(255, 255, 255); */
}
.header {
  padding: 1rem;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.offer {
  width: 50%;
  align-items: center;
}
.wrapper {
  width: 90%;
  max-width: 1442px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  margin: 0 auto;
}
.header__logo {
  width: 79px;
  height: 27px;
  background-image: url(images/Logo-mini.png);
}
.menu {
  width: 50%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.mb {
  display: none;
}
.mobile-menu {
  width: 30px;
  height: 2px;
  background-color: aliceblue;
  margin-top: 5px;
  /* visibility: visible; */
}
.header_item-link {
  color: white;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  text-decoration: none;
}
.main {
  width: 100%;
  height: calc(100vh - 59px);
  margin-top: 59px;
  background-image: url(images/image1.png);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.logoOffer {
  width: 175px;
  height: 60px;
  background-image: url(images/Logo.png);
  /* margin-top: 100px; */
}
.tittleOffer {
  color: white;
  width: 100%;
  font-weight: 400;
  margin-top: 32px;
}
.lineOffer {
  width: 100px;
  height: 2px;
  background-color: white;
  margin-top: 32px;
  margin-bottom: 32px;
}
.discriptionOffer {
  width: 100%;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.7);
}
.buttonOffer {
  width: 134px;
  height: 42px;
  background-color: #4c8baf00;
}

.form {
  width: 360px;
  height: 368px;
  border-radius: 5px;
  /* margin: 140px auto; */
  background-color: rgb(255, 255, 255);
}
.buttonForm {
  width: 100%;
  height: 54px;
  background: rgba(255, 155, 81, 1);
  margin-top: 20px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tittleForm {
  background: rgba(223, 223, 223, 1);
  height: 54px;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-top: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.colortext {
  color: #ff8b38;
}

.input {
  margin-bottom: 36px;
  width: 276px;
  height: 32px;
  border: none;
  border-bottom: 1px solid black;
}
.inputForm {
  text-align: center;
  margin-top: 36px;
}

.socialMedia {
  width: 390px;
}
.media {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 17px auto;
}
.wrap {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.social {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.sectionTab {
  background: rgba(245, 245, 245, 1);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 131px;
  padding-bottom: 131px;
}

.tab {
  height: 112px;
  width: 112px;
  background-color: black;
  border-bottom: solid 1px rgb(223, 223, 223);
  color: rgb(255, 255, 255);
}
.tab1 {
  text-align: center;
  padding-top: 48px;
}
.tabColor {
  background-color: rgba(255, 155, 81, 1);
}

.tabOrder {
  width: 506px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tabTitle {
  padding-bottom: 42px;
}

.tabButton {
  width: 134px;
  height: 42px;
  background-color: rgba(250, 143, 33, 1);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;
}
.imagesTown {
  width: 320px;
}

.line {
  width: 64px;
  height: 2px;
  background-color: rgba(255, 139, 56, 1);
  margin: 22px auto;
}
.item {
  width: 350px;
  /* display: inline-block; */
}
.m-rl-33 {
  margin: 0 33px;
}
.itemImage {
  margin: 0 auto 27px;
  border: 2px solid #ff8b38;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.lamp {
  background-image: url(images/lamp.png);
}

.keybord {
  background-image: url(images/keybord.png);
}

.sectionWrapper {
  margin-bottom: 66px;
}

.lightning {
  background-image: url(images/lightning.png);
}
.section {
  text-align: center;
}
.sectionIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.discription {
  font-size: 14px;
  color: rgba(134, 135, 139, 1);
}
.itemTitle {
  margin-bottom: 16px;
  font-weight: 700;
}
.title {
  font-size: 36px;
  font-weight: 400;
  padding-top: 102px;
}

.wrapperPrice {
  text-align: center;
}

.prise {
  width: 343px;
  text-align: center;
}
.list {
  text-align: center;
  padding: 0;
  /* background-color:  */
  /* margin:8px; */
}
ol {
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-bottom: 2px solid rgba(245, 245, 245, 1);

  width: 100%;
  padding: 10px;
  color: rgba(134, 135, 139, 1);
}
.dolar {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  padding: 38px;
  border-bottom: 1px solid rgba(245, 245, 245, 1);
  border-top: 1px solid rgba(245, 245, 245, 1);
}
.titlePrise {
  /* margin: 18px auto; */
  padding: 18px;
}
.discriptionPrise {
  padding: 14px 0;
  border-bottom: 5px solid rgba(255, 139, 56, 1);
  font-style: italic;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
}
.total {
  padding: 8px;
  background: rgba(255, 139, 56, 1);
}
.priseOption {
  background-color: #333;
  color: white;
}

.selectionPrice {
  background: rgba(245, 245, 245, 1);
  text-align: center;
  margin-top: 108px;
}
.priseBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 81px;
  padding-bottom: 119px;
}
.sectionTown {
  text-align: center;
  background-image: url(images/town.png);
  background: linear-gradient(rgba(51, 51, 51, 0.58), rgba(51, 51, 51, 0.58)),
    url("images/town.png");
  color: white;
}
.discriptionTown {
  color: #ffff;
}
.reviewsBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 85px;
  margin-bottom: 111px;
}
.wrapperReviews {
  text-align: center;
}
.reremy {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(134, 135, 139, 1);
}

.reremyText {
  width: 290px;
  background: rgb(228, 217, 217);
  padding: 25px 12px 18px;
  position: relative;
}

.reremyText > ::before {
  content: "";
  border: 17px solid transparent;
  border-top: 20px solid rgb(229, 217, 217);
  position: absolute;
  bottom: -37px;
  left: 15px;
}
.photoReremy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 28px;
}
.nameRole {
  margin-left: 16px;
}
.titleTown {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding-top: 54px;
  font-size: 36px;
}
.button {
  color: white;
  background-color: #4c8baf00; /* Green */
  border: 1px solid rgba(255, 255, 255, 1);
  width: 134px;
  height: 42px;
  border-radius: 4px;
  margin-bottom: 54px;
  margin-top: 38px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #2f382f;
  color: white;
}
.lineTown {
  background-color: rgb(255, 255, 255);
  width: 64px;
  height: 2px;
  margin: 22px auto;
}
.discriptionTown {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.footer {
  background-color: black;
  display: flex;
  justify-content: center;
}
.footer__item {
  width: 362px;
  margin: 28px 0 22px 0;
  display: flex;
  justify-content: space-between;
}
.footer__end {
  padding-bottom: 28px;
  color: rgb(197, 196, 196);
  text-align: center;
  background-color: black;
}
.hamburger-menu {
  display: none;
}

@media (max-width: 970px) {
  .menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .wrapper {
    justify-content: center;
  }
  .hamburger-menu {
    display: block;
  }
}
@media (max-width: 700px) {
  .tabSection {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 745px) {
  .main {
    height: 90%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .offer {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mb {
    display: block;
  }
  .wrapper {
    justify-content: center;
  }
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 20px;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: 0.25s;
}
.menu__item:hover {
  background-color: #cfd8dc;
}
